.App {
    margin: auto;
    width: 60%;
    height: 200px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
}

.current-number {
    font-size: 60px;
    text-align: center;
    border: 1px solid black;
    width: 300px;
}
